body {
    font-family: Arial, sans-serif;
  background-image: url(download.jpeg ) ;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 10px;
    width: 300px;
    box-shadow: 3px 3px 3px #ccc , -3px 3px 2px #ccc;
}
.login-container h2 {
    text-align: center;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
    border-style: dotted 2px #fff;
    border-radius: 4px;
}
.login-container input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    margin-left: 10px;
}
.login-container input[type="button"]:hover {
    background-color: #45a049;
}
